// $mainColor: #17c77c;
$mainColor: #4ddbff;

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-weight: 400;
    border-bottom: 0.6px solid #c8c8c8;

    span {
      color: #7d7979;
    }
  }

  .link,
  a {
    padding: 1.5vh 2vw;
    text-decoration: none;
    color: #fff;
    margin: 0;
    background: linear-gradient(90deg, $mainColor, #6660ce);
    border-radius: 35px;
    color: #fff;
    transition: 1s ease;
    display: flex;

    &:hover {
      background: linear-gradient(
        90deg,
        lighten(#4ddbff, 5%),
        lighten(#6660ce, 5%)
      );
    }
    h4 {
      margin: 0%;
      transition: 1s ease;
    }
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  input[type="number"] {
    border: 1px solid #fff;
    padding: 1vh 1vw;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 3vh;

    &:focus {
      outline: none;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.pageDesc {
  width: 80%;
  height: 20vh;

  h3 {
    text-align: center;
    font-weight: 700;
    color: lighten(#7d7979, 5%);

    span {
      text-transform: uppercase;
      color: $mainColor;
    }
  }
}

@media screen and (max-width: 1024px) {
  .pageDesc {
    height: 12vh;
  }

  .info {
    border-radius: 5px;
    input[type="number"] {
      padding: 0.5vh 2vw;
    }

    .link {
      margin-bottom: 3vh;
      padding: 0.8vh 3vw;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .pageDesc {
    height: auto;
    margin-bottom: 3vh;

    h3 {
      font-weight: 400;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .pageDesc {
    height: auto;

    h3 {
      font-size: 14px;
    }
  }

  .info {
    input[type="number"] {
      margin-bottom: 6vh;
    }

    .link {
      h4 {
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 700px) and (min-aspect-ratio: 4/3) {
  .pageDesc {
    h3 {
      font-size: 14px;
    }
  }
}
